.form__button {
  padding: 2.6rem 7.4rem 3rem;
  @include font(600, 1.8rem, 140%);
  position: relative;
  z-index: 100;
}


@media (max-width: 48em) {
  .form__button {
    padding: 3.7rem 11.6rem 4.5rem;
    font-size: 3.2rem;
  }
}