.features__dot-8 {
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  bottom: -2rem;
  left: 1.4rem;
  background: #7BEC6D;
  border: .5rem solid rgba(171, 247, 161, 0.25);
  border-radius: 50%;
  box-shadow: 0 0 .5rem 1.2rem rgba(240, 246, 240, 0.35);
}

@media (max-width: 48em) {
  .features__dot-8 {

    border: .5rem solid rgba(171, 247, 161, 0.25);
    box-shadow: 0 0 .1rem 1rem rgba(171, 247, 161, 0.35);
  }
}
