.slider__header {
  display: inline-block;
  @include font(900, 5.4rem, 120%);
  letter-spacing: -0.03em;
  margin-bottom: 2.1rem;

  strong {
    display: block;
    font-weight: 900;
  }
}

@media (max-width: 48em) {
  .slider__header {
    letter-spacing: 0;
    @include font(500, 3.4rem, 120%);
  }
}