.header-basket__count--size {
  color: #FFFFFF;
  padding: 0.2rem .6rem;
  background: #0074D4;
  border-radius: 2.7rem;
}

@media (max-width: 48em) {
  .header-basket__count--size {
    text-align: center;
    margin-top: -3.3rem;
    margin-right: -1rem;
    padding: 0 .8rem;
  }
}