.header__input--color {
  border-radius: .8rem;
  opacity: .7;
  background: #F7F7F8 url('../img/header/find.svg');
  background-repeat: no-repeat;
  background-position-x: 2.6rem;
  background-position-y: 50%;
  background-size: 1.9rem;
}