.form__input {
  width: 100%;
  height: 100%;
  padding-left: 7rem;
  padding-right: 3.4rem;

  @include font(400, 1.7rem, 124%);
  &::placeholder {
    color: #ffffff;
    @include font(500, 1.8rem, 122%)
  }
}

@media (max-width: 48em) {
  .form__input {
    padding-top: 1rem;
    padding-left: 10rem;

    &::placeholder {
      font-size: 3.1rem;
      letter-spacing: .04rem;
    }
  }
}