.delivery {
  margin-top: 4.4rem;
  margin-bottom: 9.3rem;
}

.delivery .container {
  margin-right: 36rem;
}


@media (max-width: 48em) {
  .delivery {
        margin-top: 7.3rem;
        margin-bottom: 13rem;
  }
  .delivery .container {
    margin-right: 0rem;
  }

}