.slider__flag {
  display: inline-block;
  width: 5.4rem;
  height: 6.5rem;
  position: absolute;
  left: 68%;
  bottom: 9%;
  transform: translate(-50%, 0);
}

@media (max-width: 48em) {
  .slider__flag {
    width: 3.6rem;
    height: 4.4rem;
    left: 50%;
    bottom: 13%;
    transform: translate(-70%, 0);
  }
}