.facts__item {
  // padding: 2.6rem 3.1rem 2.1rem 2rem;
  padding:  2.4rem 3.3rem 2.1rem 4rem;
  height: 10rem;
  cursor: pointer;
 &:not(:last-child) {
   margin-bottom: 2.5rem;
 }
}

@media (max-width: 48em) {
  .facts__item {
    height: 11.4rem;
   padding:  2.6rem 3.3rem 2.1rem 3.5rem;
   &:not(:last-child) {
     margin-bottom: 2rem;
   }

   &:nth-child(3) {
     display: none;
   }
   &:nth-child(4) {
    padding: 3.6rem 3.3rem 2.1rem 3.5rem;
   }
  }
}